{{ use('frontend/assets/AppAsset') }}
{{ use('frontend/widgets/HeadMenu') }}
{{ use('frontend/widgets/BottomMenu') }}
{{ register_app_asset(this) }}
{{ this.beginPage }}
<!DOCTYPE html>
<html lang="">

<head>

    <meta charset="{{ app.charset }}">
    {{ html.csrfMetaTags | raw }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ html.decode(Seo.get('title')) }}</title>
    <meta name="description" content="{{ html.decode(Seo.get('description')) }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;amp;subset=cyrillic" rel="stylesheet">
    <!-- Chrome, Firefox OS and Opera-->
    <meta name="theme-color" content="#e4002b">
    <!-- Windows Phone-->
    <meta name="msapplication-navbutton-color" content="#e4002b">
    <!-- iOS Safari-->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e4002b">

    {{  this.head  }}


</head>
<body>
{{ this.beginBody }}
<header class="header">
    <div class="header__inner container">
        <div class="mobile-nav__toggle-wrapper">
            <div class="js-nav-toggle mobile-nav__toggle"><span class="icon-nav">toggle menu</span></div>
        </div>
        <!-- MENU-->
        <nav class="mobile-nav">
            <div class="mobile-nav__inner">
                <div class="mobile-nav__block is--align-right">
                    <div class="mobile-nav__toggle-wrapper is--close-only">
                        <div class="js-nav-toggle mobile-nav__toggle"><span class="icon-nav">toggle menu</span></div>
                    </div>
                    <div class="langs is--mobile">
                        {% for l in this.params.langs %}

                            <a class="langs__item  {% if l == this.params.lang %}  is--current js-active-lang {% endif %}" data-lang="{{ l.url }}" href="{{ l.langUrl }}">{{ l.local|slice(0,2) }}</a>

                        {% endfor %}
                    </div>
                </div>
                {{ head_menu_widget({'mobile':true}) }}
                <div class="mobile-nav__block">
                    <h4 class="mobile-nav__title">{{ this.params.personal_account }}</h4>
                    <ul class="mobile-nav__list">

                        {% if not(app.user.isGuest) %}
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{{this.params.personal_data}}</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{{this.params.history}}</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{{this.params.addresses}}</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{{this.params.change_pass}}</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{{this.params.discount}}</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="/logout">{{this.params.logout}}</a></li>
                        {% else %}
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="{{ Url.toRoute('/login') }}">{{ this.params.login }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="mobile-nav__block">{#mobmenu#}
                    <h4 class="mobile-nav__title">{{this.params.info}}</h4>
                    <ul class="mobile-nav__list">
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="/delivery.html">{{this.params.conditions}}</a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="/payment.html">{{this.params.payment}}</a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="/discounts">{{this.params.action}}</a></li>
                        {#
                                                <li class="mobile-nav__item"><a class="mobile-nav__link" href="">{{this.params.return_item}}</a></li>
                        #}
                    </ul>
                </div>
                <div class="mobile-nav__block">
                    <h4 class="mobile-nav__title">{{this.params.company}}</h4>
                    <ul class="mobile-nav__list">
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="/about.html">{{this.params.company_about}}</a></li>
                        {#<li class="mobile-nav__item"><a class="mobile-nav__link" href="">{{this.params.jur_address}}</a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="">{{this.params.confidential}}</a></li>#}
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="/contacts.html">{{this.params.contact}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header__logo"><a class="logo" href="{{ Url.home() }}"><img class="logo__img" src="/images/logo.png" alt="">
                <svg class="logo__img--mobile">
                    <use xlink:href="/images/sprites.svg#logo-mobile"></use>
                </svg></a></div>
        <div class="header__contact-info">
            <div class="contact-info">
                <div class="contact-info__icon"><i class="icon icon-whatsapp"></i>
                    <svg>
                        <use xlink:href="/images/sprites.svg#phone"></use>
                    </svg>
                </div>
                <div class="contact-info__content">{# contact-info__content #}
                    <div class="contact-info__worktime">
                        {{this.delivery}} с 10<sup>00</sup> до 03<sup>00</sup></div>
                    <div class="contact-info__phone">
                        +7 (747) 390 20 20<i class="contact-info__toggler icon icon-arrow-down"></i></div>
                    <div class="contact-info__details">
                        <div class="contact-info__phone">+7 (727) 390 20 20</div>
                        <nav class="contact-info__schedule">
                            <h4 class="contact-info__schedule-title">{{this.params.timetable}}:</h4>
                            <ul class="contact-info__schedule-list">
                                <li class="contact-info__schedule-item"><span class="contact-info__schedule-date">пн – чт:</span><span class="contact-info__schedule-time">10:00 – 03:00</span></li>
                                <li class="contact-info__schedule-item"><span class="contact-info__schedule-date">Пт – Сб:</span><span class="contact-info__schedule-time">10:00 – 05:00</span></li>
                                <li class="contact-info__schedule-item"><span class="contact-info__schedule-date">Вс:</span><span class="contact-info__schedule-time">11:00 – 03:00</span></li>
                            </ul>
                        </nav><a class="contact-info__action" href="https://api.whatsapp.com/send?phone=77273902020"> <i class="icon icon-whatsapp-small"></i><span>WhatsApp</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__user-auth">
            <div class="user-auth">
                <div class="user-auth__avatar"><i class="icon icon-user"></i></div>
                {% if not(app.user.isGuest) %}
                    <div class="user-auth__details"><a class="user-auth__user-name" href="{{ Url.toRoute('/user/index') }}">{{ app.user.identity.username }}</a><a class="user-auth__user-logout" href="/logout">({{this.params.logout}})</a>
                        {% if app.user.identity.discount>0 %} <div class="user-auth__user-discount">{{this.params.discount}} {{ app.user.identity.discount }}%</div>{% endif %}
                    </div>
                {% else %}
                    <div class="user-auth__details"><a class="user-auth__user-name" href="{{ Url.toRoute('/login') }}">{{this.params.login}}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="header__cart "><a class="cart" href="{{ Url.toRoute('/backet') }}"><span class="cart__icon"><i class="icon icon-cart"></i>
                <svg>
                 <use xlink:href="/images/sprites.svg#shopping-cart"></use>
               </svg>
                </span><span class="cart__details"><span class="cart__details-text">{{this.params.stash}} </span><span class="cart__details-qty">{{ this.params.all }}</span></span></a></div>
        <div class="header__langs">
            <div class="langs">
                {% for l in this.params.langs %}

                    <a class="langs__item  {% if l == this.params.lang %}  is--current js-active-lang {% endif %}" data-lang="{{ l.url }}" href="{{ l.langUrl }}">{{ l.local|slice(0,2) }}</a>

                {% endfor %}

            </div>
        </div>
    </div>
</header>
{{ head_menu_widget({'mobile':false}) }}



{{ content | raw }}



<!-- FOOTER -->
<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col col--3-of-12 col--s-12-of-12 col--m-3-of-12 col--l-3-of-12">
                    <nav class="menu">
                        <h3 class="menu__title">{{this.params.info}}</h3>
                        <ul class="menu__list">
                            <li class="menu__item"><a class="menu__link" href="about.html">{{this.params.company_about}}</a></li>
                            <li class="menu__item"><a class="menu__link" href="contact-us.html">{{this.params.contact_us}}</a></li>
                            <li class="menu__item is--empty"></li>
                            <li class="menu__item"><span class="menu__text">{{this.params.timetable}}:</span></li>
                            <li class="menu__item"><span class="menu__text">пн – чт: 10:00 – 03:00</span></li>
                            <li class="menu__item"><span class="menu__text">Пт – Сб: 10:00 – 05:00</span></li>
                            <li class="menu__item"><span class="menu__text">Вс:           11:00 – 03:00</span></li>
                        </ul>
                    </nav>
                </div>
                <div class="col col--3-of-12 col--s-12-of-12 col--m-3-of-12 col--l-3-of-12">
                    <nav class="menu">
                        <h3 class="menu__title">{{this.params.contact}}</h3>
                        <ul class="menu__list">
                            <li class="menu__item"><a class="menu__link" href="tel:+77473902020">+7 (747) 390 20 20</a></li>
                            <li class="menu__item"><a class="menu__link" href="tel:+77273902020">+7 (727) 390 20 20</a></li>
                            <li class="menu__item is--empty"></li>
                            {#
                                                        <li class="menu__item"><a class="menu__link" href="">{{this.params. backcall}}</a></li>
                            #}
                            <li class="menu__item is--empty"></li>
                            <li class="menu__item"><a class="menu__link" href="mailto:info@topperz.kz">info@topperz.kz</a></li>
                        </ul>
                    </nav>
                </div>

                {{ bottom_menu_widget({'menu_bottom':true}) }}
                {{ bottom_menu_widget({'menu_bottom':false}) }}

            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <hr class="footer__divider">
            <div class="row">
                <div class="col col--3-of-12 col--s-12-of-12 col--m-12-of-12 col--l-3-of-12">
                    <div class="logo in--footer"><img class="logo__img" src="/images/logo-small.png" alt="">
                        <svg class="logo__img--footer">
                            <use xlink:href="/images/sprites.svg#logo-footer"></use>
                        </svg>
                    </div>
                    <div class="contact-info is--footer">
                        <div class="contact-info__phone">+7 (747) 390 20 20</div>
                        <div class="contact-info__phone">+7 (727) 390 20 20</div><a class="contact-info__action" href="https://api.whatsapp.com/send?phone=77273902020"> <i class="icon icon-whatsapp-small"></i><span>WhatsApp</span></a>
                    </div>
                </div>
                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                    <div class="social-icons in--footer">
                        <div class="social-icons__text">{{this.params.follow}}</div><a rel="nofollow" target="_blank" class="social-icons__link" href="https://www.facebook.com/topperskz/"><i class="icon icon-facebook"></i></a><a rel="nofollow" target="_blank" class="social-icons__link" href="https://www.instagram.com/topperz"><i class="icon icon-instagram"></i></a><a rel="nofollow" target="_blank" class="social-icons__link" href="https://vk.com/topperskz"><i class="icon icon-vk"></i></a>
                    </div>
                </div>
                <div class="col col--3-of-12 col--s-12-of-12 col--m-12-of-12 col--l-3-of-12">
                    <div class="copyright in--footer">© Copyright TOPPERZ.com.ua 2017</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER-->
<div  style="display: none;">
    <div class="popup" id="thanks">
        <div class="popup__close arcticmodal-close"></div>
        <div class="popup__inner">
            <div class="popup__header">{{this.params.thank}}!</div>
            <div class="popup__body">
                <p class="is--text-center">{{this.params.confirm|raw}}<strong>{{this.params.order_num}} #<span class="js-order-id">245-327</span></strong></p>
            </div>
            <div class="popup__footer"><a class="btn btn--primary" id="success" href="">{{this.params.thank}}</a></div>
        </div>
    </div>
    <div class="popup" id="thanks_2">
        <div class="popup__close arcticmodal-close"></div>
        <div class="popup__inner">
            <div class="popup__header">{{this.params.thank_for_order}}!</div>

            <div class="popup__footer js-close-close"><a class="btn btn--primary js-close-close " id="success" >{{this.params.go_to_buy}}</a></div>
        </div>
    </div>
    <div class="popup" id="min">
        <div class="popup__close arcticmodal-close"></div>
        <div class="popup__inner">
            <div class="popup__header">{{this.params.min_order}}!</div>

        </div>
    </div>
    <div class="popup" id="cartOrder">
        <div class="js-cart">

        </div>
    </div>
</div>

{#
<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
#}



{{ this.endBody }}
<script>

    $('#payment_method_1').on('click', function(){
        $(this).parents('.form').find('button[type="submit"]').text('{{ this.params.send_order }}');
    });
    $('#payment_method_2').on('click', function(){
        $(this).parents('.form').find('button[type="submit"]').text('{{ this.params.send }}');
    });


    //- Выпадающий список
    var addressList = [
        "1 мкр.",
        "10 лет Независимости Казахстана, ул.",
        "10 мкр.",
        "10а мкр.",
        "11 мкр.",
        "12 мкр.",
        "13 военный городок",
        "16-я линия, ул.",
        "1-я Заславского, ул.",
        "1-я линия, ул.",
        "2 мкр.",
        "20 июня, ул. (ШАНЫРАК-1)",
        "20-я линия, ул.",
        "22-я линия, ул.",
        "24 июня, ул.",
        "2-я Братская, ул.",
        "2-я Вишневского, ул.",
        "2-я Гончарная, ул.",
        "2-я Заславского, ул.",
        "2-я Карьерная, ул.",
        "2-я Кисловодская, ул.",
        "2-я Ключевая",
        "2-я линия, ул.",
        "2-я Многоводная",
        "2-я Огарева, ул.",
        "2-я Остроумова, ул.",
        "2-я Петрова, ул.",
        "2-я Пчеловодная, ул.",
        "3 Марта, ул.",
        "3 мкр.",
        "3-я Вишневского, ул.",
        "3-я Карьерная, ул.",
        "3-я линия, ул.",
        "4 мкр.",
        "40 лет Победы, пер. (КАРАСУ)",
        "4-я Карьерная, ул.",
        "4-я линия, ул.",
        "5 мкр.",
        "5-ая кирпично-заводская",
        "5-я Кирпичнозаводская, ул.",
        "5-я линия, ул.",
        "6 мкр.",
        "6-я Кирпичнозаводская, ул.",
        "6-я линия, ул.",
        "7 мкр.",
        "70 разъезд",
        "8 Марта, ул. (БОРАЛДАЙ)",
        "8 мкр.",
        "8-й Гвардейской дивизии, ул.",
        "8-я линия, ул.",
        "9 мкр.",
        "9 Января, ул.",
        "9-я Кирпичнозаводская, ул.",
        "Test",
        "А. Никольской, ул.",
        "Абаканская, ул.",
        "Абая, пр.",
        "Абая, ул.",
        "Абая, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Абая, ул. (КОК-КАЙНАР)",
        "Абая, ул. (КОЯНКОЗ)",
        "Абая, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ)",
        "Абая, ул. (ЫНТЫМАК)",
        "Абдирова, ул.",
        "Абдрашулы, ул. (АКБУЛАК)",
        "Абдуллиных Р. и М., ул.",
        "Абилова, ул.",
        "Абирова, ул.",
        "Абишева Алжаппара, ул",
        "Абхазская, ул.",
        "Абылай хана, пр.",
        "Авербаха, ул.",
        "Авиационная, ул.",
        "Ади Шарипова, ул.",
        "Адилова, ул.",
        "Адыгейская, ул.",
        "Ажибай батыра (ак кайын)",
        "Азербаева, ул.",
        "Азербаева, ул. (ГОРНЫЙ ГИГАНТ)",
        "Азербайджанская, ул. (АЛЬМЕРЕК, бывш. ГАГАРИНО)",
        "Азиатская, ул.",
        "Азизбекова, ул.",
        "Азовская, ул.",
        "Айбасова, ул.",
        "Айбергенова, ул.",
        "Айболит2, ул.",
        "Айвазовского, ул.",
        "Айвазовского, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Айгерим, мкр.",
        "Айманова, ул.",
        "Аймауытова, ул.",
        "Айнабулак-1, мкр.",
        "Айнабулак-2, мкр.",
        "Айнабулак-3, мкр.",
        "Айнабулак-4, мкр.",
        "Айнабулакская, ул. (ЗАРЯ ВОСТОКА)",
        "Айриха, ул.",
        "Айтей батыра, ул.",
        "Айтей батыра, ул. (КАЛКАМАН-2)",
        "Айтеке би, ул.",
        "Айтиева, ул.",
        "Айтыкова, ул.",
        "Айша-Биби, ул.",
        "Айымбетова Алдана, ул.",
        "Акан Серы, ул.",
        "Акбулак, мкр.",
        "Акбулак, ул.",
        "Акбулакская, ул.",
        "Акжайык, ул.",
        "Акжасдык, ул.",
        "Акжол, ул. (ШАНЫРАК-1)",
        "Акиык, ул.",
        "Аккеик ул.",
        "Акмешит, ул.",
        "Акмолинская, ул.",
        "Акпаева, ул.",
        "Аксай-1, мкр.",
        "Аксай-1а, мкр.",
        "Аксай-2, мкр.",
        "Аксай-3, мкр.",
        "Аксай-3а, мкр.",
        "Аксай-3б, мкр.",
        "Аксай-4, мкр.",
        "Аксай-5, мкр.",
        "Аксайская, ул",
        "Аксайская, ул.",
        "Аксайская, ул. (АЙГЕРИМ-1)",
        "Аксакова, ул.",
        "Актамберды, ул.",
        "Актерек, ул.",
        "Актюбинская, ул.",
        "Актюбинский, пер.",
        "Акын Сара, ул. (ШАНЫРАК-1)",
        "Акынов, ул.",
        "Алатау, мкр.",
        "Алатау, ул. (ДУМАН)",
        "Алатауская, ул.",
        "Алгабасская, ул.",
        "Алданская, ул.",
        "Алдар Косе, ул.",
        "Александрова, ул.",
        "Алексеева, ул.",
        "Алимжанова, ул.",
        "Алимкулова ул. (АКБУЛАК)",
        "Алма, ул.",
        "Алмагуль, мкр.",
        "Алмалы, ул.",
        "Алмалыкская, ул.",
        "Алматинская, ул.",
        "Алматинская, ул. (БАГАНАШЫЛ)",
        "Алматинская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Алматинская, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩ",
        "Алматинская, ул. (ПОКРОВКА)",
        "Алматинский, пер. (КАРАСУ)",
        "Алмерек, ул.",
        "Алмерека Абыза, ул.",
        "Алпамыса, ул. (ШАНЫРАК-1)",
        "Алтай-1, мкр.",
        "Алтай-2, мкр.",
        "Алтайбаева, ул. (АКБУЛАК)",
        "Алтайская, ул.",
        "Алты-алаш, мкр.",
        "Алты-Алаш, ул.",
        "Алты-алыш, ул.",
        "Алтын Емел, ул.",
        "Алтын-бесик, мкр.",
        "Алтынсарина, пр.",
        "Алтынсарина, ул. (АЙГЕРИМ-1)",
        "Алтынсарина, ул. (КАЛКАМАН-2)",
        "Альпийская, ул.",
        "Аль-Фараби, пр.",
        "Алябьева, ул.",
        "Амангельды, ул.",
        "Амангельды, ул. (ЗАРЯ ВОСТОКА)",
        "Аманжолова , ул.",
        "Аманжолова С., ул.",
        "Аманжолова, ул.",
        "Амурская, ул.",
        "Ангарская, ул.",
        "Андронникова, ул.",
        "Аносова, пер.",
        "Аносова, ул.",
        "Аныракай, ул.",
        "Апанасенко, ул.",
        "Аптечная, ул. (ЗАРЯ ВОСТОКА)",
        "Арай, ул.",
        "Арал, ул.",
        "Аральская, ул.",
        "Аренского, пер.",
        "Аренского, ул.",
        "Арзамасская, ул.",
        "Арктическая ул.",
        "Арктическая, ул.",
        "Арман, ул.",
        "Армянская, ул.",
        "Артема",
        "Артёма",
        "Артиллерийская, ул.",
        "Аршалы, ул.",
        "Арыковой, ул.",
        "Арыс, ул.",
        "Арычная, ул.",
        "Арычная, ул. (БОРАЛДАЙ)",
        "Арычная, ул. (КАЗАХФИЛЬМ)",
        "Арычная, ул. (КАМЕНКА)",
        "Арычная, ул. (КУРЫЛЫСШИ)",
        "Арычная, ул. (САД. ТОВ. “ВОСХОД”)",
        "Асан Кайгы, ул. (ШАНЫРАК-1)",
        "Асемтау, ул.",
        "Аскарова, ул",
        "Аскарова, ул.",
        "Аспантау, ул.",
        "Астана, мкр.",
        "Асфендиярова, ул. (МАЯК)",
        "Асылбекова, ул.",
        "Атамура, ул.",
        "Атбасарская, ул.",
        "Аубакирова, ул. (ШАНЫРАК-2)",
        "Ауэзова, ул (Жайлы)",
        "Ауэзова, ул (Калкаман)",
        "Ауэзова, ул.",
        "Ауэзова, ул. (КАЛКАМАН-2)",
        "Ауэзова, ул. (ОЖЕТ)",
        "Аханова Жакана, ул.",
        "Аханова, ул. (АКБУЛАК)",
        "Ахмедиярова, ул.",
        "Ахмедсафина, ул.",
        "Ахметова, ул.",
        "Ахметова, ул. (ТАУГУЛЬ-3)",
        "Ахременко 2-я, ул.",
        "Ахременко, ул.",
        "Ахтанова, ул.",
        "Ахундова, ул.",
        "Ачинская, ул.",
        "Ашекеева, ул. (БОРАЛДАЙ)",
        "Ашекеева, ул. (ШАНЫРАК-1)",
        "Ашимбаева, ул.",
        "Ашхабадская, ул.",
        "Аэродромная, ул. (БОРАЛДАЙ)",
        "Аяз би, ул.",
        "Бабаева, ул.",
        "Бабыра, ул. (ШАНЫРАК-1)",
        "Багаева, ул. (АКБУЛАК)",
        "Баганашыл, мкр.",
        "Багратиона, ул.",
        "Базар Жырау, ул. (ЗАРЯ ВОСТОКА)",
        "Базарбаева, ул.",
        "Баишева, ул.",
        "Байжанбаева, ул.",
        "Байжанова Сапара, ул.",
        "Байзакова, ул.",
        "Байкадамова, ул.",
        "Байкальская, ул.",
        "Байконурская, ул. (ТАУ-САМАЛ)",
        "Байконыр, ул.",
        "Байконырова, ул. (АКБУЛАК)",
        "Баймагамбетова, ул.",
        "Байрона, ул.",
        "Байсеитова, ул.",
        "Байсеитовой, ул.",
        "Байтасова, ул.",
        "Байтебек би, ул.",
        "Байтенова Нояна, ул.",
        "Байтерек, ул",
        "Байтурсынова, ул.",
        "Байтурсынова, ул. (АЙГЕРИМ-1)",
        "Байтурсынова, ул. (КАЛКАМАН-2)",
        "Байшешек, ул.",
        "Баканасская, ул.",
        "Бакинская, ул.",
        "Бактыгереева",
        "Бакшалы, ул.",
        "Балакирева, ул.",
        "Балдаурен, ул. (ШАНЫРАК-2)",
        "Балтабаевская, ул.",
        "Балтийская, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСК",
        "Балхашская, ул.",
        "Бальзака, ул.",
        "Баранского, ул. (ГОРНЫЙ ГИГАНТ)",
        "Барибаева, ул.",
        "Бартогайская, ул.",
        "Бартольда, ул.",
        "Басаркобыза, ул. (КОК-КАЙНАР)",
        "Басенова, ул.",
        "Батумская, ул.",
        "Батурина, ул.",
        "Батыра Баяна, ул. (АКБУЛАК)",
        "Баумана, ул.",
        "Бауыржана Момышулы, ул.",
        "Баха, пер.",
        "Баха, ул.",
        "Баянаул, мкр.",
        "Баянаульская, ул.",
        "Баянаульский, пер.",
        "Бегайыл, ул.",
        "Бегалиева, ул.",
        "Бегалина, ул.",
        "Бегельдинова",
        "Бедного Д., ул. (АЛАТАУ)",
        "Бедного Демьяна, ул.",
        "Бейбарыса Султана, ул.",
        "Бейбытшылык, ул.",
        "Бейкенова, ул.",
        "Бейсебаева, ул.",
        "Бейсебаева, ул. (ОЖЕТ)",
        "Бейсембаева, ул.",
        "Бейсенбай улы, ул.",
        "Бейсеуова",
        "Бекболата, ул.",
        "Бекбулат-батыра, ул.",
        "Бекежанова, ул.",
        "Бекет-Ага Мырзагулулы, ул.",
        "Бекетова, ул.",
        "Бекешева, ул.",
        "Бекмаханова, ул.",
        "Бектасова, ул.",
        "Бектембая, ул.",
        "Бектемисова, ул. (АКБУЛАК)",
        "Бекхожина, ул.",
        "Белградская, ул.",
        "Белова, ул.",
        "Белорусская, ул.",
        "Беляева, ул.",
        "Белякова, ул.",
        "Бердаулетулы Ержанибека, ул.",
        "Бердигулова, ул. (мкр. Заря Востока)",
        "Береговая, ул.",
        "Береговая, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Береговая, ул. (КОЯНКОЗ)",
        "Берегового, ул.",
        "Березовая аллея, ул.",
        "Березовая, ул.",
        "Березовского, ул.",
        "Береке, ул.",
        "Береке, ул. (ШАНЫРАК-1)",
        "Беремжанова, ул.",
        "Беринга, ул.",
        "Берсиева, ул.",
        "Бесеуова, ул.",
        "Беспакова К., ул.",
        "Беспакова М., ул.",
        "Бессарабский, пер.",
        "Бестужева, ул.",
        "Бехтерева, ул.",
        "Бигельдинова",
        "Биембета, ул.",
        "Бийская, ул.",
        "Билге Каган, ул. (ШАНЫРАК-2)",
        "Биокомбинатская, ул.",
        "Биржана, ул.",
        "Бирлик, ул. (ШАНЫРАК-1)",
        "Бичурина, ул. (АКБУЛАК)",
        "Бишкек, ул. (ДУМАН)",
        "Биянху, ул.",
        "Благовещенская, ул.",
        "Благовещенский, пер.",
        "Блока, ул.",
        "Блюхера, ул.",
        "Бобруйская, ул.",
        "Богатырская, ул.",
        "Богенбай батыра, ул.",
        "Бокеева, ул.",
        "Бокейханова, ул.",
        "Бокина, ул.",
        "Бокина, ул. (АЙГЕРИМ)",
        "Болашак, ул. (ДУМАН)",
        "Болтирик шешена, ул.",
        "Болтирикова, ул.",
        "Бондаренко, ул.",
        "Боралдайская, ул.",
        "Борзова, ул.",
        "Боровое, ул. (ДУМАН)",
        "Бородина, ул.",
        "Бостандык, ул. (ШАНЫРАК-1)",
        "Ботаническая, ул.",
        "Боткина, ул.",
        "Братская, ул.",
        "Брауна, ул.",
        "Бригадная, ул.",
        "Бродского, ул.",
        "Бруно, ул.",
        "Брусиловского, ул.",
        "Брюллова, ул.",
        "Брюсова, ул.",
        "Брянская, ул.",
        "Буденного, ул.",
        "Бузурбаева, ул.",
        "Булавина, ул.",
        "Булбул Баганашил",
        "Булкушева, ул.",
        "Бурундайская, ул. (БОРАЛДАЙ)",
        "Бутаковская, ул.",
        "Бутина, ул.",
        "Бутлерова, ул.",
        "Бухар жырау, бульв.",
        "Бухарская, ул.",
        "Быковского, ул.",
        "Вавилова, ул.",
        "Вагжанова, ул.",
        "Валиханова, ул.",
        "Валиханова, ул. (КАЛКАМАН-2)",
        "Варламова, ул.",
        "Варшавский, пер.",
        "Василевского, ул.",
        "Васнецова, ул.",
        "Ватутина, пер.",
        "Ватутина, ул.",
        "Вахтангова, пер.",
        "Вахтангова, ул.",
        "Вековая, ул.",
        "Великолукская, ул.",
        "Венеры, ул.",
        "Венецианова, ул.",
        "Верди, ул.",
        "Верещагина, ул.",
        "Верненская, ул.",
        "Веры Хоружей, ул.",
        "Веселая, ул.",
        "Вильнюсская, ул.",
        "Вильямса, ул.",
        "Вилюйская, ул.",
        "Виноградная, ул.",
        "Виноградная, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩ",
        "Виноградная, ул. (САД. ТОВ. “ВОСХОД”)",
        "Виноградова, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Винтера, ул.",
        "Витебская, ул.",
        "Вихрева, ул.",
        "Вишневая, ул. (КАЗАХФИЛЬМ)",
        "Вишневая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Вишневского, пер.",
        "Владивостокская, ул.",
        "Водная, ул.",
        "Водника, ул.",
        "Водозаборная, ул.",
        "Войкова, ул.",
        "Войникова, ул.",
        "Вокзальная, ул. (БОРАЛДАЙ)",
        "Вокзальная, ул. (ПЕРВОМАЙСКИЙ)",
        "Волгоградская, ул.",
        "Волгоградская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Волжская, ул.",
        "Вологодская, ул.",
        "Володарского, ул.",
        "Волочаевская, ул.",
        "Волховская, ул.",
        "Вольная, ул.",
        "Воровского, ул.",
        "Воронежская, ул.",
        "Воронихина, ул.",
        "Ворошилова, ул.",
        "Ворошилова, ул. (КУРЫЛЫСШИ)",
        "Ворошилова, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩЫ",
        "Ворошилова, ул. (ПЕРВОМАЙСКИЙ)",
        "Восточная, ул. (БОРАЛДАЙ)",
        "Восточная, ул. (КАМЕНКА)",
        "Восточная, ул. (КУРЫЛЫСШИ)",
        "Восточная, ул. (САД. ТОВ. “ВОСХОД”)",
        "Высоковольтная, ул. (КАРАСУ)",
        "Вятская, ул.",
        "Г. Колпаковского, ул.",
        "Габдуллина, ул.",
        "Гагарина, пр.",
        "Гагарина, ул. (БОРАЛДАЙ)",
        "Гагарина, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩЫБУ",
        "Гагарина, ул. (ОЖЕТ)",
        "Газизы Жубановой, ул. (см. Жубановой Газизы, ул.)",
        "Гайдара, ул.",
        "Галилея, ул.",
        "Гамарника, ул.",
        "Ганди, ул.",
        "Гаражная, ул.",
        "Гаражная, ул. (БОРАЛДАЙ)",
        "Гаршина, ул.",
        "Гастелло, ул.",
        "Гвардейская, ул.",
        "Гвардейская, ул. (ЗАРЯ ВОСТОКА)",
        "Геологов, ул.",
        "Герцена, ул.",
        "Гете, ул.",
        "Глазунова, ул.",
        "Глинки, ул.",
        "Глубокая, ул.",
        "Говорова, ул.",
        "Гоголя, ул.",
        "Гоголя, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ)",
        "Гомельская, ул.",
        "Гончарова, ул.",
        "Горная, ул.",
        "Горновосточная, ул.",
        "Горный гигант, мкр.",
        "Горный, пер.",
        "Горняцкая, ул.",
        "Городская, ул.",
        "Горького, ул. (АЛАТАУ)",
        "Гравийная, ул.",
        "Грановского, ул.",
        "Грибоедова, ул.",
        "Гризодубовой, ул.",
        "Гринева, ул.",
        "Гродненская, ул.",
        "Грозы, ул. (КАМЕНКА)",
        "Громова, ул.",
        "Грузинская, ул.",
        "Грушевая, ул. (БАГАНАШЫЛ)",
        "Грушевая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Губкина, ул.",
        "Гурилева, ул.",
        "Гурьевская, ул.",
        "Дагестанская, ул.",
        "Дальневосточная, ул.",
        "Дальняя, ул.",
        "Дамалак ана, ул.",
        "Дарвина, ул.",
        "Даргомыжского, ул.",
        "Дархан, мкр.",
        "Дархан, ул.",
        "Дауленова, ул.",
        "Даулетгалиева, ул. (АКБУЛАК)",
        "Даулеткерея, ул.",
        "Дауренбекова, ул. (АКБУЛАК)",
        "Даутова, ул.",
        "Дауылбаева, ул.",
        "Дачный, пер.",
        "Дегтярева, ул.",
        "Декабристов, ул.",
        "Декарта, ул.",
        "Дельвига, ул.",
        "Демченко, ул.",
        "Демьяна Бедного, ул.",
        "Деповская, ул.",
        "Державина, ул.",
        "Детсадовская, ул. (ЗАРЯ ВОСТОКА)",
        "Джалалабадская, ул.",
        "Джалиля, ул.",
        "Джамбула, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Джансугурова, ул.",
        "Джапаридзе, ул.",
        "Дзержинского, ул. (АЛАТАУ)",
        "Дзержинского, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Дзержинского, ул. (Наурызбай батыра, ул.)",
        "Дзержинского, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕ",
        "Диваева",
        "Диксона, ул.",
        "Димитрова, ул.",
        "Днепровская, ул.",
        "Днепропетровская, ул.",
        "Добролюбова, ул.",
        "Доватора, ул.",
        "Докучаева, ул.",
        "Долгорукова, ул.",
        "Домбровского, ул.",
        "Донбасская, ул.",
        "Донская, ул.",
        "Дорожная, ул. (КУРЫЛЫСШИ)",
        "Дорожник, мкр.",
        "Досмухамедова, ул.",
        "Достоевского, ул.",
        "Достык, мкр.",
        "Достык, пр.",
        "Достык, ул (Алатау)",
        "Достык, ул. (КАЛКАМАН-2)",
        "Дрогобычская, ул.",
        "Дружбы, пер.",
        "Дружбы, ул.",
        "Дубок, мкр.",
        "Дубок-2, мкр.",
        "Дубосековская, ул.",
        "Дуйсенова, ул.",
        "Дулати, ул.",
        "Дулатова, ул.",
        "Думан, мкр.",
        "Думан-2",
        "Дунаевского, ул.",
        "Дунганская, ул. (ЗАРЯ ВОСТОКА)",
        "Дунентаева, ул.",
        "Душанбинская, ул.",
        "Дыбенко, ул.",
        "Европейская, ул.",
        "Егемен, ул. (ШАНЫРАК-1)",
        "Егенсу, ул.",
        "Егизбаева Косая, ул. (см. Косая Егизбаева, ул.)",
        "Егорова, ул.",
        "Елгина, ул.",
        "Елебекова, пер.",
        "Елебекова, ул.",
        "Елемесова, ул.",
        "Емцова, пер.",
        "Емцова, ул.",
        "Енбек, ул.",
        "Енисейская, ул.",
        "Ералиевой, ул.",
        "Ергалиева Хамита, набережная",
        "Ереванская, ул.",
        "Ереванская, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА)",
        "Ержанова, ул.",
        "Еркынды, ул.",
        "Ермака, ул.",
        "Ермек, ул.",
        "Ермоловой, ул.",
        "Ертаргын, ул. (ШАНЫРАК-1)",
        "Есебулатова, ул.",
        "Есенберлина, ул.",
        "Есенжанова, ул.",
        "Есенина, ул.",
        "Есенова, ул.",
        "Есенова, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Есентай, ул. (ШАНЫРАК-1)",
        "Есентайская, ул.",
        "Есил, ул. (ДУМАН)",
        "Ескараева, ул.",
        "Еспаева, ул. (АКБУЛАК)",
        "Ж\К Шахристан",
        "Жабаева, ул.",
        "Жабаева, ул. (мкр. Кок-Тобе)",
        "Жагоркызы, ул. (ШАНЫРАК-1)",
        "Жазылбека",
        "Жайлау, ул.",
        "Жайлы, мкр.",
        "Жакаева, ул.",
        "Жаксенбаева, ул.",
        "Жалантос Бахадур, ул. (ШАНЫРАК-2)",
        "Жамакаева, ул.",
        "Жамбыла, ул.",
        "Жамбыла, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Жамбыла, ул. (КОК-КАЙНАР)",
        "Жана шаура, ул.",
        "Жанатурмыс, мкр.",
        "Жангелдина, ул.",
        "Жангельдина, ул. (КОК-КАЙНАР)",
        "Жандарбекова, ул.",
        "Жандилдина, ул. (АКБУЛАК)",
        "Жандосова, ул.",
        "Жанибекова, ул.",
        "Жанкожа батыра, ул. (ШАНЫРАК-2)",
        "Жансугурова, ул.",
        "Жансугурова, ул. (ЗАРЯ ВОСТОКА)",
        "Жанторина, ул.",
        "Жантурина, ул.",
        "Жаншуак, ул.",
        "Жаркентская, ул.",
        "Жарокова, ул.",
        "Жарылгасова",
        "Жарылгасова, ул.",
        "Жас Казах, ул. (ШАНЫРАК-1)",
        "Жастар, ул.",
        "Жезказганская, ул.",
        "Железнодорожный, пер. (ПОКРОВКА)",
        "Железняка, ул.",
        "Желтоксан, ул.",
        "Жемчужная, ул.",
        "Женис, ул.",
        "Жеруйык, ул.",
        "Жетыгенская, ул.",
        "Жетысу-1, мкр.",
        "Жетысу-2, мкр.",
        "Жетысу-3, мкр.",
        "Жетысу-4, мкр.",
        "Жетысуская, ул.",
        "Жибек жолы, пр.",
        "Жибек жолы, ул (Алатау)",
        "Жигулевская, ул.",
        "Жиенкуловой, ул.",
        "Жиренше, ул. (ДУМАН)",
        "Житомирская, ул.",
        "ЖК Европолис",
        "Жолдасбекова, ул.",
        "Жуалы, ул.",
        "Жубанова, ул.",
        "Жубановой Газизы, ул.",
        "Жукова, ул.",
        "Жуковского, ул.",
        "Жулдыз-1, мкр",
        "Жулдыз-2, мкр",
        "Жумабаева, ул.",
        "Жумабаева, ул. (КАМЕНКА)",
        "Жумабекова, ул. (АКБУЛАК)",
        "Жумалиева, ул.",
        "Журавлева, ул.",
        "Журавского, ул.",
        "Жургенева, ул.",
        "З. Шашкина, ул.",
        "Заветная, ул.",
        "Заводская, ул. (БОРАЛДАЙ)",
        "Заводская, ул. (КАРАСУ)",
        "Загородная, ул.",
        "Загоскина, ул.",
        "Заилийская, ул.",
        "Зайсанская, ул.",
        "Закарпатская",
        "Зангар, ул.",
        "Западная, ул. (САД. ТОВ. “ВОСХОД”)",
        "Запорожская, ул.",
        "Запотоцкого, ул.",
        "Заречная, ул. (КОК-КАЙНАР)",
        "Заречная, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩЫБУ",
        "Заречная, ул. (ПЕРВОМАЙСКИЙ)",
        "Заречная, ул. (ТАУ-САМАЛ)",
        "Заря востока, мкр.",
        "Затаевича, ул.",
        "Захарова, ул.",
        "Зверева Максима, ул.",
        "Зеленая, ул.",
        "Зеленая, ул. (БАГАНАШЫЛ)",
        "Зеленая, ул. (КУРЫЛЫСШИ)",
        "зеленые холмы",
        "Зеленый, пер. (ПЕРВОМАЙСКИЙ)",
        "Зелинского, ул.",
        "Земнухова, ул.",
        "Зенкова, ул.",
        "Зеренды (Карасу мкр)",
        "Зимняя, ул.",
        "Златоустовская, ул.",
        "Зорге Рихарда, ул. (см. Рихарда Зорге, ул.)",
        "Зубарева, ул.",
        "Иванилова, ул. (ГОРНЫЙ ГИГАНТ)",
        "Иванова, ул.",
        "Иванова-Сокольского, ул.",
        "Игишева, ул. (ГОРНЫЙ ГИГАНТ)",
        "Ижевская, ул.",
        "Илийская, ул.",
        "Илийский тракт",
        "Илияшева, ул.",
        "Иманбаевой, ул.",
        "Иманова, ул.",
        "Инженерная, ул.",
        "Инкорбекова, ул.",
        "Интернациональная, ул.",
        "Интернациональная, ул. (ПЕРВОМАЙСКИЙ)",
        "Ипподромная, ул.",
        "Иргели, мкр.",
        "Иркутская, ул.",
        "Иртышская, ул.",
        "Исагулова, ул.",
        "Исаева, ул.",
        "Исатая, ул. (КАЛКАМАН-2)",
        "Исиналиева, ул.",
        "Искендерова, ул.",
        "Исмета Кенесбаева, ул.",
        "Иссык-Кульская, ул.",
        "Иссыкская, ул.",
        "Истомина, ул.",
        "Ишимская, ул.",
        "Иштвана Коныра, ул.",
        "Кабанбай батыра, ул.",
        "Кабардинская, ул.",
        "Кабдолова, ул.",
        "Кабилова, ул.",
        "Каблукова, ул.",
        "Кабылбаева, ул.",
        "Кавказская, ул.",
        "Кавказская, ул. (ПЕРВОМАЙСКИЙ)",
        "Кадырбекова, ул.",
        "Кажымукана, ул.",
        "Казабекова, ул.",
        "Казакова, ул.",
        "Казакпаева, ул.",
        "Казанская, ул.",
        "Казахстанская, ул.",
        "Казахстанская, ул. (АЛАТАУ)",
        "Казахстанская, ул. (АЛЬМЕРЕК, бывш. ГАГАРИНО)",
        "Казахстанская, ул. (КАЛКАМАН-2)",
        "Казахфильм, мкр.",
        "Казыбаева, ул.",
        "Казыбек би, ул.",
        "Казыгурт, ул. (ДУМАН)",
        "Каирбекова, ул.",
        "Кайнар, ул.",
        "Кайнар, ул. (ШАНЫРАК-1)",
        "Калдаякова, ул.",
        "Калинина, ул. (БОРАЛДАЙ)",
        "Калинина, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Калинина, ул. (КОЛХОЗШЫ)",
        "Калининградская, ул.",
        "Калкаман-2, мкр.",
        "Калужская, ул.",
        "Каменистая, ул.",
        "Камышинская, ул.",
        "Канахина, ул.",
        "Капальская, ул.",
        "Капчагайская, ул.",
        "Капшагайская, ул. (МАЯК)",
        "Карабулак, ул.",
        "Карагандинская, ул.",
        "Карагандинская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Каракалпакская, ул.",
        "Каракумская, ул.",
        "Карасай батыра, ул (Алатау)",
        "Карасай батыра, ул.",
        "Карасай батыра, ул. (КОК-ТОБЕ)",
        "Карасу, мкр.",
        "Карасу, ул.",
        "Карасуйская",
        "Каратаева, ул.",
        "Каратальская, ул.",
        "Каратау, ул. (ШАНЫРАК-1)",
        "Карашаш, ул. (ДУМАН)",
        "Карбышева, ул.",
        "Каргалинская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Каргалы, мкр.",
        "Каргаулды, ул.",
        "Карельская, ул.",
        "Карибай акын, ул.",
        "Карибжанова, ул.",
        "Каримбаева, ул.",
        "Каркара, ул. (ШАНЫРАК-1, 2)",
        "Каркаралы, ул. (ДУМАН)",
        "Карла Либкнехта, ул.",
        "Карла Маркса, ул. (АЛАТАУ)",
        "Карменова, ул.",
        "Кармысова, ул.",
        "Карпатская, ул.",
        "Карпинского, ул.",
        "Карсакбаева, ул. (АКБУЛАК)",
        "Карская, ул.",
        "Карьерная, ул.",
        "Касаткина, ул.",
        "Каскадная, ул.",
        "Каскеленская, ул.",
        "Каспийская, ул.",
        "Кассина, ул.",
        "Кастеева, ул.",
        "Кастекская-2-я, ул.",
        "Касыма Шарипова, ул. (мкр. Акбулак)",
        "Касымова, ул.",
        "Каховская, ул.",
        "Качалова, пер.",
        "Качалова, ул.",
        "Кашаубаева, ул.",
        "Кашгарская, ул.",
        "Кеменгерулы Кошке, ул.",
        "Кемеровская, ул.",
        "Кенесары хана, ул.",
        "Кентауская, ул.",
        "Кереку, ул. (ДУМАН)",
        "Керемет, мкр.",
        "Керемет, ул.",
        "Киевская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Кима Ю., ул.",
        "Кипренского, ул.",
        "Киргизская, ул.",
        "Кирова, ул.",
        "Кирова, ул. (АЛАТАУ)",
        "Кирова, ул. (ПОКРОВКА)",
        "Кировоградская, ул.",
        "Кирпичнозаводская, ул.",
        "Кирпичный завод, ул.",
        "Кисанова, ул.",
        "Кисловодская, ул.",
        "Кишиневская, ул.",
        "Клары Цеткин, пер. (см. Цеткин, К., пер.)",
        "Клары Цеткин, ул. (см. Цеткин, К., ул.)",
        "Клочкова",
        "Клубная, ул.",
        "Клубничная, ул.",
        "Ключевая, ул.",
        "Ключевая, ул. (ПЕРВОМАЙСКИЙ)",
        "Ключевой 1-й, пер.",
        "Ключевой 2-й, пер.",
        "Кобикова, ул.",
        "Кобыланды, ул. (ШАНЫРАК-1)",
        "Кожабекова, ул.",
        "Кожамкулова, ул.",
        "Кожедуба, ул.",
        "Койчуманова, ул.",
        "Кокжиек, мкр.",
        "Коккайнар, мкр.",
        "Коккинаки, пер.",
        "Коккинаки, ул.",
        "Кокорай (Массагет)",
        "Коктем-1, мкр.",
        "Коктем-2, мкр.",
        "Коктем-3, мкр.",
        "Кок-Тобе, мкр.",
        "Кок-Тобе-2, мкр.",
        "Кокчетавская, ул.",
        "Коломенская, ул.",
        "Колонтайская, ул.",
        "Колпаковского Г.",
        "Колымская, ул.",
        "Кольцова, ул.",
        "Комарова, ул.",
        "Коминтерна, ул.",
        "Коммунальная, ул.",
        "Коммунальная, ул. (АЛАТАУ)",
        "Коммунаров, ул.",
        "Коммунистическая, ул. (БОРАЛДАЙ)",
        "Коммунистическая, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА,",
        "Комсомольская, ул. (АЛАТАУ)",
        "Комсомольская, ул. (БОРАЛДАЙ)",
        "Комсомольская, ул. (ЗАРЯ ВОСТОКА)",
        "Комсомольская, ул. (ОЖЕТ)",
        "Комсомольская, ул. (ПЕРВОМАЙСКИЙ)",
        "Комсомольская, ул. (ПОКРОВКА)",
        "Кондратовича, ул.",
        "Коныра Иштвана, ул. (см. Иштвана Коныра, ул.)",
        "Коперника, ул.",
        "Коркыт, ул. (ШАНЫРАК-1)",
        "Королева, ул.",
        "Короленко, ул.",
        "Корчагина, ул.",
        "Косаева, ул.",
        "Косая Егизбаева, ул.",
        "Космическая, ул.",
        "Космическая, ул. (ПОКРОВКА)",
        "Космодемьянской, ул.",
        "Космодемьянской, ул. (КОК-ТОБЕ)",
        "Космодемьянской, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш",
        "Космонавтов, ул. (БОРАЛДАЙ)",
        "Космонавтов, ул. (КОК-ТОБЕ)",
        "Космонавтов, ул. (ПОКРОВКА)",
        "Костромская, ул.",
        "Косынова, ул. (КАЛКАМАН-2)",
        "Котельникова, ул.",
        "Котовского, ул.",
        "Котовского, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Котовского, ул. (КУРЫЛЫСШИ)",
        "Коунрадская, ул.",
        "Кочина, ул.",
        "Кошевого, ул.",
        "Кошкунова, ул.",
        "Крайняя, ул.",
        "Крамского, ул.",
        "Красильская, ул.",
        "Красноармейская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Красноармейская, ул. (ЗАРЯ ВОСТОКА)",
        "Красноармейская, ул. (ОЖЕТ)",
        "Красноводская, ул.",
        "Красногорская, ул.",
        "Краснодарская, ул.",
        "Краснодонская, ул.",
        "Краснооктябрьская, ул.",
        "Кривая, ул.",
        "Кронштадтская, ул.",
        "Крузенштейна ул.",
        "Крупской, ул.",
        "Крыжицкого, ул.",
        "Крылова, ул.",
        "Крымская, ул.",
        "Крючкова, ул.",
        "Куанышбаева, ул.",
        "Кубеева, пер.",
        "Кубеева, ул.",
        "Кудайбердиева, ул.",
        "Кудайбердиева, ул. (КАЛКАМАН-2)",
        "Кудерина, ул.",
        "Кузнецова, ул.",
        "Кузьмина, ул.",
        "Куйбышева, ул.",
        "Кулагер, мкр.",
        "Кулбекова Токсына, ул.",
        "Кулешова, ул.",
        "Кулибина, ул.",
        "Култегин, ул. (ШАНЫРАК-2)",
        "Кулымбетова, ул.",
        "Кульжинский тракт",
        "Кунаева, ул.",
        "Кунаева, ул. (КАМЕНКА)",
        "Кунгурская, ул.",
        "Купимана, ул.",
        "Куприна, ул.",
        "Куратова, ул.",
        "Курдайская, ул.",
        "курдайский переулок",
        "Курдайский, пер.",
        "Курильская, ул.",
        "Курмангазы, ул.",
        "Курмангазы, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Курмангалиева, ул.",
        "Курманова, ул.",
        "Курортная",
        "Курская, ул.",
        "Курчатова, ул.",
        "Курылысши, мкр.",
        "Кусайнулы, ул. (КАРАСУ)",
        "Кустанайская, ул.",
        "Кутузова, ул. (БОРАЛДАЙ)",
        "Куусинена, ул.",
        "Кыдырбекова Латифа, ул",
        "Кыдырбекулы, пер.",
        "Кыдырбекулы, ул.",
        "Кыз Жибек, ул.",
        "Кызылжар, ул. (ДУМАН)",
        "Кызыл-Ординская, ул.",
        "Кыргаулды, ул.",
        "Кыстауова, ул.",
        "Лавренева, ул.",
        "Ладожская, ул.",
        "Ладушкина 2-я",
        "Ладыгина, ул.",
        "Лазарева, ул.",
        "Латвийская, ул.",
        "Латифа Хамиди, ул.",
        "Лебедева, ул.",
        "Леваневского, ул.",
        "Левитана, ул.",
        "Левского, ул.",
        "Ленгерская, ул.",
        "Ленина, ул. (АЙГЕРИМ)",
        "Ленина, ул. (АЛАТАУ)",
        "Ленина, ул. (БОРАЛДАЙ)",
        "Ленина, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Ленинабадская, ул.",
        "Лениногорская, ул.",
        "Ленинская, ул. (АЛЬМЕРЕК, бывш. ГАГАРИНО)",
        "Ленского, ул.",
        "Леонова, ул.",
        "Лермонтова, ул.",
        "Лермонтова, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСК",
        "Лескова, ул.",
        "Лесная, ул. (АКБУЛАК)",
        "Лесная, ул. (КУРЫЛЫСШИ)",
        "Летняя, ул.",
        "Либкнехта Карла, ул. (см. Карла Либкнехта, ул.)",
        "Лизуновой, ул. (АКБУЛАК)",
        "Лисаковская, ул.",
        "Листа, ул.",
        "Лисянского 1-я, ул.",
        "Лисянского, ул.",
        "Литейная, ул.",
        "Литовская, ул.",
        "Лихачева, ул.",
        "Лобачевского, ул.",
        "Логовая, ул.",
        "Логовая, ул. (ПЕРВОМАЙСКИЙ)",
        "Ломоносова, ул.",
        "Ломоносова, ул. (БОРАЛДАЙ)",
        "Луганского, ул.",
        "Луговая, ул.",
        "Луговая, ул. (КУРЫЛЫСШИ)",
        "Луговского, ул.",
        "Лузина, ул.",
        "Лысенко, ул.",
        "Льва Толстого, ул.",
        "Львовская, ул.",
        "Магаданская, ул.",
        "Магаданский, пер.",
        "Магнитная, ул.",
        "Мади, ул. (БАГАНАШЫЛ)",
        "Мажорова, ул.",
        "Майбороды Михаила, ул. (см. Михаила Майбороды, ул.",
        "Майкопская, ул.",
        "Майлина, ул.",
        "Майлина, ул. (АЙГЕРИМ)",
        "Майлина, ул. (ЗАРЯ ВОСТОКА)",
        "Майры, ул. (ШАНЫРАК-1)",
        "Майское утро, ул.",
        "Макаренко, ул.",
        "Макатаева, ул.",
        "Макатаева, ул. (АЙНАБУЛАК-1, 2, 3)",
        "Макатаева, ул. (КАМЕНКА)",
        "Максимова, ул.",
        "Малахова, ул.",
        "Малая, ул.",
        "Малинка, ул.",
        "Малиновая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Маметовой, ул.",
        "Маметовой, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Маметовой, ул. (ЗАРЯ ВОСТОКА)",
        "Мамина-Сибиряка, ул.",
        "Мамутова, ул. (АКБУЛАК)",
        "Мамыр, мкр.",
        "Мамыр-1, мкр.",
        "Мамыр-2, мкр.",
        "Мамыр-3, мкр.",
        "Мамыр-4, мкр.",
        "Мамыр-7, мкр.",
        "Манаева, ул.",
        "Манаса, ул.",
        "Мангистауская, ул.",
        "Мангышлакская, ул.",
        "Мануильского, ул.",
        "Маргулана, ул.",
        "Марийская, ул.",
        "Маркелова, ул.",
        "Маркова, ул.",
        "Маркса К., ул. (ТРУДОВИК)",
        "Мартехова, ул.",
        "Мартынова, ул.",
        "Маршака, ул.",
        "Маршака, ул. (БОРАЛДАЙ)",
        "Масанчи, ул.",
        "Масанчи, ул. (ЗАРЯ ВОСТОКА)",
        "Матросова, ул.",
        "Маулена Балакаева, ул.",
        "Мауленова, ул.",
        "Машана Меиржана, ул.",
        "Машанова, ул.",
        "Машкова, ул.",
        "Маяк, мкр.",
        "Маяковского, ул.",
        "Международная, ул.",
        "Мелитопольская, ул.",
        "Мельникайте, ул.",
        "Менделеева, ул.",
        "Мендешева, ул.",
        "Мендикулова, бульв.",
        "Менжинского, ул.",
        "Меншуткина, ул.",
        "Меркулова, ул.",
        "Метростроевская, ул.",
        "Механическая, ул.",
        "Мешит, ул.",
        "Мещерского, ул.",
        "Миасская, ул.",
        "Минина, ул.",
        "Минская, ул.",
        "Минусинская, ул.",
        "Мира, ул.",
        "Мира, ул. (БОРАЛДАЙ)",
        "Мира, ул. (ЖАНАДАУР)",
        "Мира, ул. (Желтоксан, ул.)",
        "Мира, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩЫБУЛАК)",
        "Мира, ул. (РАХАТ)",
        "Мира, ул. (ЫНТЫМАК)",
        "Мирас, мкр.",
        "Мирас, ул.",
        "Мирзояна, ул.",
        "Мирная, ул.",
        "Митина, ул.",
        "Михаила Майбороды, ул.",
        "Михайловская, ул.",
        "Мицкевича, ул.",
        "Мичурина, ул. (КАРАСУ)",
        "Мичурина, ул. (ПОКРОВКА)",
        "Мичурина, ул. (РАХАТ)",
        "мкр. Oжет",
        "мкр. Айгерим-1",
        "мкр. Айгерим-2",
        "мкр. Аккент",
        "мкр. Алатау",
        "мкр. Алгабас",
        "мкр. Атырау-1, Атырау-2",
        "мкр. Атырау2",
        "мкр. Бутаковка",
        "мкр. Жас Канат",
        "мкр. Заря Востока",
        "мкр. Курлысши",
        "мкр. Ремизовка",
        "мкр. Саялы",
        "мкр. Таусамалы",
        "мкр. Трудовик",
        "мкр. Улжан-1, Улжан-2",
        "мкр. Шуакты",
        "Могилевская, ул.",
        "Можайского, ул.",
        "Молдабекова, ул.",
        "Молдабекова, ул. (КАЛКАМАН-2)",
        "Молдавская, ул.",
        "Молдагалиева, ул.",
        "Молдагуловой, ул.",
        "Молдагуловой, ул. (АЙГЕРИМ)",
        "Молдагуловой, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. А",
        "Молодежная, ул. (БОРАЛДАЙ)",
        "Молодежная, ул. (КУРЫЛЫСШИ)",
        "Молодежная, ул. (ПЕРВОМАЙСКИЙ)",
        "Молодежная, ул. (ПОКРОВКА)",
        "Момышулы Бауыржана, ул.",
        "Момышулы, ул. (КАЛКАМАН-2)",
        "Монгольская, ул.",
        "Монтажная, ул.",
        "Монтажная, ул. (КУРЫЛЫСШИ)",
        "Монтина, ул.",
        "Мопра, ул.",
        "Мордовская, ул.",
        "Морозова, ул.",
        "Мосина, ул.",
        "Москвина, ул.",
        "Московская, ул.",
        "Московская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Московский, пер.",
        "Мостовая, ул.",
        "Мостовая, ул. (АЛАТАУ)",
        "Мостовая, ул. (КАРАСУ)",
        "Моцарта, ул.",
        "Мочалова, ул.",
        "Мукаева, ул. (АКБУЛАК)",
        "Муканова, ул.",
        "Мукатая, ул. (МАЯК)",
        "Мурагер, ул. (ШАНЫРАК-1)",
        "Муратбаева, ул.",
        "Мурманская, ул.",
        "Мусина, ул.",
        "Мусина, ул. (ТАУГУЛЬ-3)",
        "Мусоргского, ул.",
        "Мусрепова, бульв.",
        "Мусрипова, ул.",
        "Мустафина, ул.",
        "Мустафы Озтюрка, ул.",
        "Мухамеджанова, ул.",
        "Мынбаева, ул.",
        "Мырзагалиева, ул.",
        "Мырзагулулы Бекет-Ага, ул. (см. Бекет-Ага Мырзагул",
        "Набережная, ул.",
        "Набережная, ул. (АЙГЕРИМ)",
        "Набережная, ул. (БОРАЛДАЙ)",
        "Набережная, ул. (ПЕРВОМАЙСКИЙ)",
        "Навои, ул.",
        "Нагорная, ул. (КУРЫЛЫСШИ)",
        "Найманбаева, ул.",
        "Найманбаева, ул. (КАЛКАМАН-2)",
        "Нальчикская, ул.",
        "Наманганская, ул.",
        "Нарвская, ул.",
        "Нарынкольская, ул.",
        "Натарова, ул.",
        "Науметова, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Наурыз, ул.",
        "Наурыз, ул. (ШАНЫРАК-1)",
        "Наурызбай батыра, ул.",
        "Нахимова, ул.",
        "Национальная, ул. (ПЕРВОМАЙСКИЙ)",
        "Невского, ул.",
        "Некрасова, ул.",
        "Некрасова, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИ",
        "Немировича-Данченко, ул.",
        "Нестерова 1-я, ул.",
        "Нестерова, ул.",
        "Ниеткалиева, ул.",
        "Никитина, ул.",
        "Николаева, ул.",
        "Николаевская, ул.",
        "Никольской А., ул.",
        "Никопольская, ул.",
        "Ниязбекова, ул.",
        "Новая Садовая, ул. (ЗАРЯ ВОСТОКА)",
        "Новая, ул.",
        "Новая, ул. (АЙГЕРИМ)",
        "Новая, ул. (АЛАТАУ)",
        "Новая, ул. (БОРАЛДАЙ)",
        "Новая, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Новая, ул. (КазЦИК)",
        "Новая, ул. (КОК-КАЙНАР)",
        "Новая, ул. (ОЖЕТ)",
        "Новгородская, ул.",
        "Новокузнецкая, ул.",
        "Новосибирская, ул.",
        "Новослободская, ул.",
        "Новостройка, ул.",
        "Новый городок, ул.",
        "Ногайбаева, ул.",
        "Норильская, ул.",
        "Нурлыбаева, ул. (ГОРНЫЙ ГИГАНТ)",
        "нурмакова",
        "Нурмакова, ул.",
        "Нурмаханова, ул.",
        "Нурпеисова, ул",
        "Нурпеисова, ул.",
        "Нусупбекова, ул.",
        "Ньютона, ул.",
        "Обозная, ул.",
        "Обсерватория, ул. (ТАУ-САМАЛ, бывш. КАМЕНСКОЕ ПЛАТ",
        "Обская, ул.",
        "Овражная, ул.",
        "Овражная, ул. (АЛЬМЕРЕК, бывш. ГАГАРИНО)",
        "Овражная, ул. (БОРАЛДАЙ)",
        "Овражная, ул. (ЖАНАДАУР)",
        "Овражная, ул. (ПЕРВОМАЙСКИЙ)",
        "Овражная, ул. (ПОКРОВКА)",
        "Огарева, ул.",
        "Огинского, ул.",
        "Огородная, ул.",
        "Одесская, ул.",
        "Одоевского, ул.",
        "Ожет, мкр.",
        "Озерная, ул.",
        "Озерная, ул. (КАРАСУ)",
        "Озерная, ул. (ТРУДОВИК)",
        "Озтюрка Мустафы, ул. (см. Мустафы Озтюрка, ул.)",
        "Окжетпес, ул. (ШАНЫРАК-1)",
        "Октябрьская, ул. (АЛАТАУ)",
        "Олейникова, ул.",
        "Олимпийская, ул. (ТАУ-САМАЛ)",
        "Омарова Ж, ул.",
        "Омарова, ул.",
        "Омская, ул.",
        "Онежская, ул.",
        "Орбита-1, мкр.",
        "Орбита-2, мкр.",
        "Орбита-3, мкр.",
        "Орбита-4, мкр.",
        "Орбулак, ул. (ШАНЫРАК-1)",
        "Орджоникидзе, ул.",
        "Оренбургская, ул.",
        "Оркен, ул. (ШАНЫРАК-2)",
        "Орловская, ул.",
        "Орманова, ул.",
        "Осенняя, ул.",
        "Осипенко, ул.",
        "Осоавиахима, ул.",
        "Оспанова, ул.",
        "Островского, ул.",
        "Остроградского, ул.",
        "Остроумова, ул.",
        "Остроухова, ул.",
        "Отейбойдака, ул.",
        "Отрарская, ул.",
        "Охотский, пер.",
        "Павленко, ул.",
        "Павлова, ул.",
        "Павлодарская, ул.",
        "Паклиевского, ул.",
        "Паклиевского, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Палладина, ул.",
        "Памирская, ул.",
        "Панфилова, ул.",
        "Папанина, ул.",
        "Парасат ул.",
        "Парижской Коммуны, ул.",
        "Паримбетова, ул.",
        "Парковая, ул.",
        "Парковая, ул. (ПЕРВОМАЙСКИЙ)",
        "Партизанская, ул.",
        "Пархоменко, ул.",
        "Пекинская, ул.",
        "Пензенская, ул.",
        "Первомайская нефтебаза, ул.",
        "Первомайская, ул.",
        "Первомайская, ул. (АЛАТАУ)",
        "Первомайская, ул. (БОРАЛДАЙ)",
        "Первомайский, пер.",
        "Переходько, ул. (АКБУЛАК)",
        "Перова, ул.",
        "Перронная, ул.",
        "Пестковского, ул.",
        "Песчаная, ул.",
        "Петрова, пер.",
        "Петрова, ул.",
        "Петровского, ул.",
        "Петрозаводская, ул.",
        "Петропавловская, ул.",
        "Печерская, ул.",
        "Пика, пер.",
        "Пика, ул.",
        "Пионерская, ул. (АЛАТАУ)",
        "Пионерская, ул. (БОРАЛДАЙ)",
        "Пионерская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Пионерская, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Пирогова, ул.",
        "Писарева, ул.",
        "Плодовая, ул.",
        "Площадь Республики",
        "Победы, ул.",
        "Погодина, ул.",
        "Пограничная, ул.",
        "Подвойского, ул.",
        "Подгорная, ул.",
        "Подгорная, ул. (БАГАНАШЫЛ)",
        "Подгорный, пер.",
        "Поддубного, ул.",
        "Пожарского, ул.",
        "Покрышкина, ул.",
        "Полевая, ул.",
        "Полевой, пер.",
        "Полежаева, пер.",
        "Полесская, ул.",
        "Полетаева, ул.",
        "Ползунова, ул.",
        "Политехническая, ул.",
        "Полтавская, ул.",
        "Полярная, ул.",
        "Помяловского, ул.",
        "Попова, ул.",
        "Поповича, ул.",
        "Портартурская, ул.",
        "Постышева, ул.",
        "Потанина, ул.",
        "Потемкина, ул.",
        "Почтовая, ул.",
        "Пресненская, ул.",
        "Пржевальского, ул.",
        "Пригородная, ул.",
        "Приозерная, ул.",
        "Приречная, ул.",
        "Природа, ул.",
        "Пришвина, ул.",
        "Производственная, ул.",
        "Прокофьева, ул.",
        "Пролетарская, ул.",
        "Промышленная, ул.",
        "Прудхоза, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА)",
        "Псковская, ул.",
        "Пугачева, ул.",
        "Пушкина, ул (Алатау)",
        "Пушкина, ул.",
        "Пушкина, ул. (АЛАТАУ)",
        "Пушкина, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ)",
        "Пушкина, ул. (ПЕРВОМАЙСКИЙ)",
        "Пятигорская, ул.",
        "Пятницкого, ул.",
        "Рабочая, ул.",
        "Радищева, ул.",
        "Радлова, ул.",
        "Радостовца, ул.",
        "Радус-Зеньковича, ул.",
        "Разъездная, ул.",
        "Райымбека, пр.",
        "Райымбека, ул.",
        "Расковой, ул.",
        "Ратушного, ул.",
        "Рахманинова, ул.",
        "Резвых, ул.",
        "Речка Казачка, ул.",
        "Риддерская, ул.",
        "Римовой, ул.",
        "Римская, ул.",
        "Римского-Корсакова, ул.",
        "Рихарда Зорге, ул.",
        "Ровенского, ул.",
        "Родионова, ул.",
        "Родниковая, ул.",
        "Розовая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Розыбакиева, ул.",
        "Розыбакиева, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Рокотова, ул.",
        "Ростовская, ул.",
        "Рубинштейна, ул.",
        "Рубцовская, ул.",
        "Рудаки, ул.",
        "Рудзутака, ул.",
        "Рудная, ул.",
        "Руставели, ул.",
        "Рустемова, ул. (АКБУЛАК)",
        "Рыбинская, ул.",
        "Рыбинский, пер.",
        "Рыскулбекова, ул.",
        "Рыскулова, пр.",
        "Рыскулова, ул. (КАМЕНКА)",
        "Рязанская, ул.",
        "Сабыра Шарипова, ул.",
        "Саврасова, ул.",
        "Сагатова Мансура, ул.",
        "Садвакасова, ул. (мкр. Достык, бывш. Дружба)",
        "Садовая, ул.",
        "Садовая, ул. (АЙГЕРИМ)",
        "Садовая, ул. (БОРАЛДАЙ)",
        "Садовая, ул. (ЗАРЯ ВОСТОКА)",
        "Садовая, ул. (КАМЕНКА)",
        "Садовая, ул. (КУРЫЛЫСШИ)",
        "Садовая, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ)",
        "Садовая, ул. (ПЕРВОМАЙСКИЙ)",
        "Садовая, ул. (ПОКРОВКА)",
        "Садовникова, ул.",
        "Садовского, ул.",
        "Садовый бульвар, ул.",
        "Сазановская, ул.",
        "Саина, ул.",
        "Сайран, мкр.",
        "Сайран, ул. (ЗАРЯ ВОСТОКА)",
        "Саке батыра, ул.",
        "Сакко и Ванцетти, ул.",
        "Салтыкова-Щедрина, ул.",
        "Самади, ул. (АКБУЛАК)",
        "Самал, ул.",
        "Самал-1, мкр.",
        "Самал-2, мкр.",
        "Самал-3, мкр.",
        "Самаркандская, ул.",
        "Самохвалова, ул.",
        "Санаторная, ул. (БАГАНАШЫЛ)",
        "Сапар жолы, ул.",
        "Сапара Байжанова, ул.",
        "Саранская, ул.",
        "Саратовская, ул.",
        "Сарбайская, ул.",
        "Сарсенбаева, ул.",
        "Сарыагашская, ул.",
        "Сарыарка, ул. (ДУМАН)",
        "Сарым батыра, ул. (ШАНЫРАК-2)",
        "Сарымулдаева, ул.",
        "Сарытогай, ул. (АКБУЛАК)",
        "Сатпаева, ул.",
        "Саттарова, ул.",
        "Саттарханова, ул.",
        "Сауранбаева, ул.",
        "Саурык батыра, ул.",
        "Сахалинская, ул.",
        "Сахариева, ул.",
        "Саяна Шаймерденова, ул.",
        "Саянская, ул.",
        "Свежесть, ул (Алатау)",
        "Свердлова, ул.",
        "Свирская, ул.",
        "Свободная, ул.",
        "Севастопольская, ул.",
        "Северная, ул. (БОРАЛДАЙ)",
        "Северная, ул. (КазЦИК)",
        "Северная, ул. (КУРЫЛЫСШИ)",
        "Северная, ул. (РАХАТ)",
        "Северное кольцо",
        "Сеитова, ул.",
        "Сейдилда, ул.",
        "Сейтжанова, ул.",
        "Сейтменова, ул.",
        "Сейфуллина, пр.",
        "Сейфуллина, ул. (КАМЕНКА)",
        "Сейфуллина, ул. (ОЖЕТ)",
        "Сельская, ул.",
        "Сельскохозяйственная, ул.",
        "Семиреченская, ул.",
        "Семятовой, ул.",
        "Сенгирбаева, ул.",
        "Серафимовича, ул.",
        "Сервантеса, ул.",
        "Серегина, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Серикова, ул.",
        "Серовой, ул.",
        "Серпуховская, ул.",
        "Сеченова, ул.",
        "Си Синхая, ул.",
        "Сивашская, ул.",
        "Сидоркина, ул.",
        "Симферопольская, ул.",
        "Сиреневая, ул.",
        "Сиреневая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Складская, ул. (КазЦИК)",
        "Скрябина, ул.",
        "Словацкого, ул.",
        "Смирнова, ул.",
        "Смольная, ул.",
        "Снайперский, пер.",
        "Снегина",
        "Собинова, ул.",
        "Соболева, ул.",
        "Советская, ул. (БОРАЛДАЙ)",
        "Совхозная, ул.",
        "Совхозная, ул. (БОРАЛДАЙ)",
        "Сокольского, ул.",
        "Сокпакбаева, ул.",
        "Солнечная, ул.",
        "Солнечная, ул. (КУРЫЛЫСШИ)",
        "Солнечный проезд, ул.",
        "Солодовникова, ул.",
        "Сортировочная, ул.",
        "Сосновая, ул.",
        "Социалистическая, ул. (ЗАРЯ ВОСТОКА)",
        "Спартака, ул.",
        "Спасская, ул.",
        "Спортивная, ул.",
        "Спортивная, ул. (БОРАЛДАЙ)",
        "Средняя, ул.",
        "СТ Энергия",
        "Стадионная, ул.",
        "Стальского, ул.",
        "Станиславского, ул.",
        "Станкевича, ул.",
        "Станционная, ул.",
        "Стасова, ул.",
        "Стахановская, ул.",
        "Степана Разина, ул.",
        "Степная, ул. (АЙГЕРИМ)",
        "Степная, ул. (БОРАЛДАЙ)",
        "Степная, ул. (ЗАРЯ ВОСТОКА)",
        "Степная, ул. (ПЕРВОМАЙСКИЙ)",
        "Столетова, ул.",
        "Столичная, ул. (АЛАТАУ)",
        "Стрелецкая, ул.",
        "Стрелецкий, пер.",
        "Строителей, ул. (КазЦИК)",
        "Строительная, ул. (АЙГЕРИМ)",
        "Строительная, ул. (БАГАНАШЫЛ)",
        "Строительная, ул. (БОРАЛДАЙ)",
        "Строительная, ул. (КУРЫЛЫСШИ)",
        "Строительная, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕ",
        "Строительная, ул. (ШАНЫРАК-2)",
        "Строительный, пер. (КУРЫЛЫСШИ)",
        "Суворова, ул.",
        "Сулейманова, ул.",
        "Сулейменова, ул.",
        "Сулейменова, ул. (АКБУЛАК)",
        "Султана Бейбарыса, ул.",
        "Сулутор, ул.",
        "Сумская, ул.",
        "Суонио, ул.",
        "Сураншы, ул.",
        "Сурикова, ул.",
        "Суртибаева, ул.",
        "Сусанина, ул.",
        "Сухамбаева, ул.",
        "Сухэ-Батора, ул.",
        "Суюнбая, пр.",
        "Суюнбая, ул.",
        "Суюнбая, ул. (КАМЕНКА)",
        "Сызганова, ул. (ГОРНЫЙ ГИГАНТ)",
        "Сыздыкова, ул. (АКБУЛАК)",
        "Сыргабекова, ул. (БАГАНАШЫЛ)",
        "Сырдарьинская, ул.",
        "Табачнозаводская, ул.",
        "Таджикская, ул.",
        "Тажбенова, ул.",
        "Тажибаева Бакира, ул.",
        "Тажибаева, ул.",
        "Тажибаевой, ул.",
        "Тажиева, ул",
        "Таирова, ул.",
        "Тайманова, ул.",
        "Таймырская, ул.",
        "Тайторы батыра, ул. (КАЛКАМАН-2)",
        "Тайшетская, ул.",
        "Таланты, ул.",
        "Талап, ул.",
        "Таласская, ул.",
        "Талгарский тракт",
        "Талды-Курганская, ул.",
        "Таллинская, ул.",
        "Тан ул.",
        "Таншолпан, ул.",
        "Тарасова, ул.",
        "Тарбагатай, ул. (ДУМАН)",
        "Тастак-1, мкр.",
        "Тастак-2, мкр.",
        "Тастак-3, мкр.",
        "Татарская, ул.",
        "Татибекова, ул.",
        "Таттимбета, ул.",
        "Таугуль, мкр.",
        "Таугуль-1, мкр.",
        "Таугуль-2, мкр.",
        "Таугуль-3, мкр.",
        "Таужолы, мкр.",
        "Тау-Самал, мкр.",
        "Таусамалы, мкр.",
        "Ташкентская, ул.",
        "Ташкентская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Ташкентский тракт",
        "Таштитова, ул.",
        "Тбилисская, ул.",
        "Текелийская, ул.",
        "Текстильная, ул.",
        "Тельмана, ул.",
        "Тельмана, ул. (ЫНТЫМАК)",
        "Темиртауская, ул.",
        "Тепличная, ул.",
        "Тепличный, мкр.",
        "Теректы, мкр",
        "Терехина, ул.",
        "Терешковой, ул.",
        "Терешковой, ул. (КОЛХОЗШЫ)",
        "Терешковой, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСК",
        "Теульсиздык, ул.",
        "Тимирязева, ул.",
        "Тимирязева, ул. (РАХАТ)",
        "Тимофеева, ул.",
        "Титова, ул.",
        "Титова, ул. (БОРАЛДАЙ)",
        "Титова, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ)",
        "Тихая, ул.",
        "Тихова, ул.",
        "Тлендиева, ул.",
        "Тобаякова, ул.",
        "Тобольская, ул.",
        "Тобыгы, ул.",
        "Тойшыбек батыра, ул. (ШАНЫРАК-2)",
        "Токмакская, ул.",
        "Токпанова, ул.",
        "Токтабаева, ул.",
        "Токтогула, ул.",
        "Толе би, ул.",
        "Толе би, ул. (КАЛКАМАН-2)",
        "Толстого, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Томанова, ул. (АКБУЛАК)",
        "Томская, ул.",
        "Тополевая, ул.",
        "Тополевская, ул. (Бартольда, ул.)",
        "Тополиная ул. (АЙГЕРИМ)",
        "Топоркова, ул.",
        "Топчиева, ул. (МАЯК)",
        "Торайгырова, ул.",
        "Торговый, пер. (КАРАСУ)",
        "Торекулова, ул.",
        "Тохтарова, ул.",
        "Тохтарова, ул. (КОК-КАЙНАР)",
        "Тохтарова, ул. (ТАУГУЛЬ-3)",
        "Трамвайная, ул.",
        "Тренева, ул.",
        "Тропинина, ул.",
        "Трофимова, ул.",
        "Труд, ул.",
        "Трудовая, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Трудовик, мкр.",
        "Тузова, ул.",
        "Тукая, пер.",
        "Тукая, ул.",
        "Тулебаева, ул.",
        "Тулебаева, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Тулебайулы, ул.",
        "Тульская, ул.",
        "Тунтубаева, ул.",
        "Тургенева, ул.",
        "Тургенская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Тургута Озала, ул.",
        "Турдыкуловой, ул.",
        "Туринская, ул.",
        "Туриспекова, ул.",
        "Туркебаева, ул.",
        "Туркестан, мкр.",
        "Туркестанская, ул.",
        "Туркистан, ул.",
        "Туркменская, ул.",
        "Тынышбаева, ул.",
        "Тюленина, ул.",
        "Тюлькубасская, ул.",
        "Тюменская, ул.",
        "Тютчева, ул.",
        "Тянь-Шаньская, ул.",
        "Уалиханова, ул.",
        "Ударная, ул.",
        "Удмуртская, ул.",
        "Ужгородская, ул.",
        "Узынагашская, ул.",
        "Уйгурская, ул.",
        "Уйгурская, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Уйгурская, ул. (ЗАРЯ ВОСТОКА)",
        "Украинская, ул.",
        "ул. Катаева",
        "ул. Сагадат Нурмагамбетова",
        "ул.Баглановой",
        "Улжан, мкр.",
        "улица Улан",
        "Улпан-1, ул. (ШАНЫРАК-1)",
        "Улпан-2, ул. (ШАНЫРАК-1)",
        "Улпан-3, ул. (ШАНЫРАК-1)",
        "Улугбека, пр.",
        "Ульяновская, ул.",
        "Умбетбаева, ул.",
        "Умова, ул.",
        "Умурзакова, ул.",
        "Универсиадная (Алматы арена)",
        "Ураза Исаева, ул.",
        "Уразбаевой, ул.",
        "Уральская, ул.",
        "Урицкого, ул.",
        "Урубаева, ул.",
        "Усачева, ул.",
        "Усикова, ул.",
        "Успенского, ул.",
        "Уссурийская, ул.",
        "Усть-Каменогорская, ул.",
        "Утеген батыра, ул.",
        "Утегенова, ул.",
        "Утемисова, ул.",
        "Утемисова, ул. (МАЯК)",
        "Утепова, ул.",
        "Уфимская, ул.",
        "Уфимская, ул. (БОРАЛДАЙ)",
        "Ухтомского, ул.",
        "Учительская, ул.",
        "Уштобинская, ул.",
        "Ушурбакиева, ул.",
        "Уябаева, ул. (ЗАРЯ ВОСТОКА)",
        "Фаворского, ул.",
        "Фадеева, ул.",
        "Февральская, ул.",
        "Федорова, ул.",
        "Федосеева, ул.",
        "Федченко, ул.",
        "Феоктистова, ул.",
        "Ферганская, ул.",
        "Физкультурная, ул.",
        "Физули, ул.",
        "Филатова, ул.",
        "Флотская, ул.",
        "Фонвизина, ул.",
        "Фотиевой, ул.",
        "Франко, ул.",
        "Фрунзе, ул. (АЛАТАУ)",
        "Фрунзе, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Фрунзе, ул. (ЗАРЯ ВОСТОКА)",
        "Фрунзе, ул. (ОЖЕТ)",
        "Фурката, ул.",
        "Фурманова, ул.",
        "Фучика, ул.",
        "Хабаровская, ул.",
        "Хакасская, ул.",
        "Хакимжанова Мариям, ул.",
        "Халиуллина, ул.",
        "Халтурина, ул.",
        "Хамита Ергалиева, набережная",
        "Хантенгри, ул. (ДУМАН)",
        "Харьковская, ул.",
        "Херсонская, ул.",
        "Хетагурова, ул.",
        "Хмелева, ул.",
        "Хмельницкого, ул.",
        "Ходжамиярова, ул.",
        "Ходжанова, ул.",
        "Хорезмская",
        "Хорезмская, ул.",
        "Хоружей Веры, ул. (см. Веры Хоружей, ул.)",
        "Хусаинова, ул.",
        "Цандера, ул.",
        "Цветочная, ул.",
        "Целинная, ул.",
        "Целиноградская, ул.",
        "Центральная, ул.",
        "Центральная, ул. (ЖАНАДАУР)",
        "Центральная, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Центральная, ул. (КазЦИК)",
        "Центральная, ул. (КАРАСУ)",
        "Центральная, ул. (КУРЫЛЫСШИ)",
        "Центральная, ул. (МУХАМЕДЖАНА ТУЙМЕБАЕВА, бывш. АЩ",
        "Центральная, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕС",
        "Центральная, ул. (ПЕРВОМАЙСКИЙ)",
        "Центральная, ул. (РАХАТ)",
        "Центральная, ул. (САД. ТОВ. “ВОСХОД”)",
        "Центральная, ул. (ТАУГУЛЬ-3)",
        "Центральная, ул. (ТРУДОВИК)",
        "Центральная, ул. (Яссауи, ул.) (ДОСТЫК, бывш. ДРУЖ",
        "Цеткин Клары, пер. (см. К. Цеткин, пер.)",
        "Цеткин Клары, ул. (см. К. Цеткин, ул.)",
        "Цимлянская, ул.",
        "Циолковского, ул.",
        "Цулукидзе, ул.",
        "Цунвазо Юсупа, ул. (см. Юсупа Цунвазо, ул.) (ЗАРЯ",
        "Чаадаева, ул.",
        "Чайкиной, ул.",
        "Чайковского, ул.",
        "Чайковского, ул. (БОРАЛДАЙ)",
        "Чапаева, ул. (АЛАТАУ)",
        "Чапаева, ул. (БОРАЛДАЙ)",
        "Чапаева, ул. (КазЦИК)",
        "Чапаева, ул. (ПЕРВОМАЙСКИЙ)",
        "Чаплина, ул.",
        "Чаплыгина, ул.",
        "Чебоксарская, ул.",
        "Чекалина, ул.",
        "Челюскина, ул.",
        "Чемолганская, ул.",
        "Черемушки 2-я, ул.",
        "Черемушки, ул.",
        "Черемховская, ул.",
        "Черепанова, ул.",
        "Черкасской обороны, ул.",
        "Черниговская, ул.",
        "Чернова, ул.",
        "Черновицкая, ул.",
        "Черноморская, ул.",
        "Чернышевского, пер.",
        "Чернышевского, ул.",
        "Черняховского, ул.",
        "Чехова, ул.",
        "Чигорина, ул.",
        "Чиликская, ул.",
        "Чимбулакская, ул.",
        "Чимбулатова, ул.",
        "Чимкентская, ул.",
        "Чирчикская, ул.",
        "Читинская, ул.",
        "Читинский, пер.",
        "Чкалова, ул.",
        "Чойбалсана, ул.",
        "Чокина (Мирзояна)",
        "Чорманова, ул. (АКБУЛАК)",
        "Чуйская, ул.",
        "Чуланова, ул. (АКБУЛАК)",
        "Чурина, ул.",
        "Шаврова, ул.",
        "Шагабутдинова, ул.",
        "Шагирова, ул. (АКБУЛАК)",
        "Шадрина, ул.",
        "Шайкенова, ул.",
        "Шаймерденова Саяна, ул.",
        "Шакарима, ул.",
        "Шалкар, ул.",
        "Шаляпина, ул.",
        "Шамиевой, ул.",
        "Шангытбаева, ул. (АКБУЛАК)",
        "Шанырак-1, мкр.",
        "Шанырак-2, мкр.",
        "Шанырак-3, мкр.",
        "Шанырак-6, мкр.",
        "Шарденова Жанатая, ул.",
        "Шарипова Ади, ул. (см. Ади Шарипова, ул.)",
        "Шарипова Касыма, ул. (см. Касыма Шарипова, ул.)",
        "Шарипова Сабыра, ул. (см. Сабыра Шарипова, ул.)",
        "Шарифканова, ул. (АКБУЛАК)",
        "Шаумяна, ул.",
        "Шахтерская, ул.",
        "Шахтинская, ул.",
        "Шацкого, ул.",
        "Шашкина З., ул.",
        "Шевцовой, ул.",
        "Шевченко, ул.",
        "Шекспира, ул.",
        "Шелихова, ул.",
        "Шемякина, ул.",
        "Шереметьева, ул.",
        "Шиликты Сай, ул. (ШАНЫРАК-1)",
        "Шилова, ул.",
        "Широкая, ул.",
        "Шишкина, ул.",
        "Школьная, ул.",
        "Школьная, ул. (АЙГЕРИМ)",
        "Школьная, ул. (БОРАЛДАЙ)",
        "Школьная, ул. (ДОСТЫК, бывш. ДРУЖБА)",
        "Школьная, ул. (ЖАНАДАУР)",
        "Школьная, ул. (ЖАПЕК БАТЫР, бывш. 12 ДЕКАБРЯ)",
        "Школьная, ул. (КазЦИК)",
        "Школьная, ул. (КАРАСУ)",
        "Школьная, ул. (ОТЕГЕН БАТЫРА, бывш. ЭНЕРГЕТИЧЕСКИЙ",
        "Школьная, ул. (ЫНТЫМАК)",
        "Школьный, пер. (КАМЕНКА)",
        "Школьный-1, мкр.",
        "Школьный-2, мкр.",
        "Шлекбаева, ул.",
        "Шмелева, ул.",
        "Шмидта, ул.",
        "Шокая, ул.",
        "Шолом-Алейхема, ул.",
        "Шолохова, ул.",
        "Шопена, ул.",
        "Шоссейная, ул. (ЗАРЯ ВОСТОКА)",
        "Шоссейная, ул. (КАРАСУ)",
        "Шоссейная, ул. (ОЖЕТ)",
        "Шоссейная, ул. (ПЕРВОМАЙСКИЙ)",
        "Шпекбаева, ул.",
        "Штрауса, ул.",
        "Шуберта, ул.",
        "Шугла, мкр.",
        "Шугыла, ул.",
        "Шукшина, ул.",
        "Шумный, пер.",
        "Шусева, ул.",
        "Шухова, ул.",
        "Шушенская, ул.",
        "Щелковская, ул.",
        "Щепеткова, ул.",
        "Щепкина, ул.",
        "Щербакова, ул.",
        "Щорса, ул. (АЛАТАУ)",
        "Щорса, ул. (ПЕРВОМАЙСКИЙ)",
        "Щучинская, ул.",
        "Эйлера, ул.",
        "Эйхе, ул.",
        "Экибастузская, ул.",
        "Экспериментальная, ул.",
        "Элеваторская, ул.",
        "Энгельса, ул.",
        "Энергетическая, ул. (ОТЕГЕН БАТЫРА,",
        "Энергетическая, ул. (ЭНЕРГЕТИК)",
        "Энет баба, ул.",
        "Энтузиастов, ул.",
        "Эстонская, ул.",
        "Юбилейная, ул.",
        "Юбилейная, ул. (ПЕРВОМАЙСКИЙ)",
        "Южная, ул.",
        "Южный, пер. (КАРАСУ)",
        "Юмашева, ул.",
        "Юннатов, ул.",
        "Юности, ул.",
        "Юных Пионеров, ул.",
        "Юсупа Цунвазо, ул. (мкр. Заря Востока)",
        "Яблоневая, ул. (САД. ТОВ. “ВОСХОД”)",
        "Яблоневый сад ул.",
        "Яблочкова, ул.",
        "Яблочная, ул.",
        "Яблочная, ул. (КУРЫЛЫСШИ)",
        "Якира, ул.",
        "Якубова, ул.",
        "Янки Купалы, пер.",
        "Янки Купалы, ул.",
        "Янтарная, ул.",
        "Янушкевича, ул.",
        "Ярмухамедова, ул.",
        "Ярославская, ул.",
        "Ясная поляна, ул.",
        "Яссауи, ул."
    ];
    $(".street").autoComplete({
        minChars: 2,
        source: function(term, suggest){
            term = term.toLowerCase();
            var choices = addressList;
            var matches = [];
            for (i=0; i<choices.length; i++)
                if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
            suggest(matches);
        }
    });

</script>

</body>
</html>
{{ this.endPage }}